$navbar-light-color: $primaryTextColor;
$navbar-light-hover-color: $lightPrimaryColor;
$navbar-light-active-color: $darkPrimaryColor;
header {
    font-family: $fuenteOswald;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}