#carrouselSlide {
    font-family: $fuenteNoto;
}

.sectAdProducts {
    border-top: 4px solid $dividerColor;
    display: flex;
    flex-wrap: wrap;
    @include makeContainer(5%, 25px, 100%);
    &__div {
        @include makeContainer(0, 0, 100%);
        &__categorie {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            padding: 1rem;
            height: 90%;
            border-radius: 5px;
            font-family: $fuentePoppins;
            color: $textOrIconsColor;
            justify-content: space-between;
            p {
                font-size: large;
            }
            &__link {
                color: $textOrIconsColor;
                text-decoration: none;
            }
            &__link:hover {
                color: $lightPrimaryColor;
            }
        }
    }
}