//Colores
$darkPrimaryColor: #388E3C;
$lightPrimaryColor: #C8E6C9;
$primaryColor: #4CAF50;
$textOrIconsColor: #FFFFFF;
$accentColor: #607D8B;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;
$importantColor: #908b66;
//Fuentes

/*sections primarias*/

$fuenteNoto: 'Noto Sans',
sans-serif;

/*header and footer*/

$fuenteOswald: 'Oswald',
sans-serif;

/*sections secundarias*/

$fuentePoppins: 'Poppins',
sans-serif;